body {
    background-color: lightskyblue;
}
h1 {
    color: brown;
    margin-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 300%;
}
h3{
    color: limegreen;
    text-align: center;
}
p {
    border: 2px solid black;
    padding: 30px;
    margin: 40px;
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-size: 160%;
}
.flex-container {
    display: flex;
    border: 1px solid purple;
    border-radius: 15px;
}
.flex-item{
    width: 150px;
    margin: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 100px;
    font-size: 30px;
    color: white;
}
.box-1{
background-color: blue;
}
.box-2{
background-color: blueviolet;
}
.box-3{
background-color: coral;
}
.box-4{
background-color: crimson;
}
.box-5{
background-color: darkmagenta;
}